# Applying functions returning Series

on dataframes and groupbys

In [1]:
import pandas as pd

In [2]:
pd.Series({'a': 1, 'b': 2})

a    1
b    2
dtype: int64

In [3]:
def konst(g):
    # print('konst arg:', g)
    return pd.Series({'a': 1, 'b': 2})

df = pd.DataFrame.from_dict({
    1: 3,
    2: 4,
    3: 10
}, orient='index')
df

    0
1   3
2   4
3  10

In [4]:
df.apply(konst)

   0
a  1
b  2

In [5]:
df.apply(konst, axis=0)

   0
a  1
b  2

In [6]:
df.apply(konst, axis=1)

   a  b
1  1  2
2  1  2
3  1  2

In [7]:
df.groupby(0).apply(konst)

    a  b
0
3   1  2
4   1  2
10  1  2